.wrapper {
  position: relative;
}

.row {
  display: flex;
}

@media screen and (max-width: 600px) {
  .row > .feed {
    height: 100vh;
  }
}

.feed img {
  width: 100%;
  position: relative;
}

a,
a:active,
a:hover,
a:visited {
  color: #000;
}

p,
h1,
h2,
h3,
ul {
  cursor: default;
}

.InputElement {
  border: 1px solid #000;
  background: transparent;
  border-radius: 0px;
  padding: 2px 2px;
  font-family: inherit;
}

form {
  width: 100%;
}

.error {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  font-size: 1.1em;
}

.underline {
  text-decoration: underline;
}

p {
  margin-bottom: 10px;
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: justify;
}

hr {
  border: 0.5px solid;
  margin: 2px 0;
}

.flex-2 {
  display: flex;
}

.flex-2 .inner {
  width: 50%;
}

.flex-2 .right {
  text-align: right;
}

.flex-2-1-3 {
  display: flex;
}

.flex-2-1-3 .inner:nth-child(1) {
  width: 95%;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

@media screen and (max-width: 600px) {
  input[type="text"],
  input[type="number"],
  textarea,
  select,
  option,
  select:focus {
    font-size: 16px;
  }
}



.welcome {
  margin-top: 40%;
  vertical-align: middle;
  max-width: 320px;
  overflow: scroll;
  text-align: justify;
  cursor: default;

  @media screen and (max-width: $break-small) {
    padding: 0;
    max-width: 100%;
  }
}

.headline {
  font-size: 1.1em;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 80px;
  padding: 0 15px 0 0;
  @media screen and (max-width: $break-small) {
    top: 0;
    display: block;
    font-style: normal;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
  }
}

.welcome span {
  animation: rotation 1s infinite linear;
  text-align: center;
}

.email {
  margin-top: 100px;
}

img.logo {
  max-width: 320px;

  @media screen and (max-width: $break-small) {
    max-width: 85%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.disclaimer {
  height: 200px;
  overflow-y: scroll;
}

.toggler {
  display: none;
}

.toggler + .toggler-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.toggler:checked + .toggler-content {
  max-height: 1000px;
  opacity: 1;
}

.disclaimer-toggle {
  cursor: pointer;

  @media screen and (max-width: $break-small) {
    position: relative;
    top: 12px;
    margin: 0 0 10px 0;
  }
}

.bottom {
  position: absolute;
  bottom: 10px;
  width: 200px;
  display: block;
}

.event {
  margin-bottom: 10px;
  cursor: pointer;
}

.event a {
  text-decoration: none;
}

.hoverImage {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  left: 0;
  right: 0;
}

.portrait {
  max-width: 25%;
}

.landscape {
  max-width: 50%;
}

.event figcaption {
  display: none;
  visibility: hidden;
  color: white;
}

.event:hover figcaption {
  display: block;
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .event:hover figcaption {
    display: none;
    visibility: hidden;
  }
}

.event img {
  display: none;
  visibility: hidden;
}

.event:hover img {
  display: block;
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .event:hover img {
    display: none;
    visibility: hidden;
  }
}

.feed {
  cursor: pointer;
}

.feed a {
  text-decoration: none;
}

@keyframes resize {
  to {
    grid-template-columns: 0 1fr 1fr 1fr 33.333%;
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

.cart span.total {
  text-align: right;
}

.cart .delete_item {
  cursor: pointer;
  padding: 0 4px;
  font-size: 1.2em;
}

.cursor {
  cursor: pointer;
}

.product {
  margin-bottom: 2px;
}

.product .product_desc {
  display: flex;
}

.product .price {
  width: 50%;
}

.product p {
  line-height: 1.7;
}

.product img {
  width: 100%;
}

.product .add_to_cart {
  cursor: pointer;
  text-align: right;
  width: 50%;
  text-decoration: underline;
}

.cart_item {
  display: flex;
  width: 100%;
}

.cart_item .item_name {
  width: 50%;
}

.cart_item img {
  height: 40px;
}

.cart_item .item_price {
  width: 50%;
}

.cart_item .item_price p {
  text-align: right;
}

.cart_item p {
  margin-bottom: 0;
  line-height: 1.2;
}

.cart_total {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cart_total p {
  margin-bottom: 0;
  line-height: 1.2;
  width: 50%;
  text-align: right;
}

.cart_total span {
  width: 50%;
}

.cart_total .total p {
  text-align: right;
}

.cart_total .shipping {
  width: 50%;
}

.cart_total .shipping p {
  text-align: right;
}

.divider {
  height: 1px;
  width: 100%;
  border: 0.5px solid #000;
}

.agenda {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.agenda div {
  text-align: center;
  display: flex;
  width: 33.33333%;
}

.agenda div p {
  margin: auto;
}

.summary {
  max-width: 33.33333%;
  margin: auto;
  padding: 0 4px;
}

@media screen and (max-width: 600px) {
  .summary {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .summary {
    max-width: 100%;
  }
}

.summary img {
  height: 60px;
}

.summary img.logo {
  max-width: 320px;
  height: auto;
}

.paypal_button {
  max-width: 200px;
}

.hidden {
  display: none;
}

.StripeElement {
  border: 1px solid #000;
  padding: 2px;
  font-size: 16px;
}

.StripeElement--invalid {
  border: 1px solid red;
}

.suggestion:hover {
  text-decoration: underline;
}

select {
  width: 100%;
  padding: 2px;
  outline: none;
}
