// Variables

$bg-c: #c8c7c5;
$c2: #4366cc;
$break-small: 600px;
$break-large: 1200px;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $bg-c inset !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $bg-c inset !important;
}

.wrapper {
  position: relative;
}

.row {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  transition: transform 0.7s;
  @media screen and (max-width: $break-small) {
    display: block;
  }
}

.row > div {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  padding: 0 15px;

  @media screen and (max-width: $break-small) {
    overflow-y: visible;
    position: relative;
    height: auto;
  }
}

.row > div::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  -ms-overflow-style: none;
}

.row > .intro {
  flex: 0 0 33.333%;
  @media screen and (max-width: $break-small) {
    height: 100vh;
  }
}

.row > .about {
  flex: 1;
  @media screen and (max-width: $break-small) {
  }
}
.row > .projects {
  flex: 1;
  text-align: justify;

  @media screen and (max-width: $break-small) {
    text-align: justify;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
  }
}
.row > .feed {
  flex: 1;

  @media screen and (max-width: $break-small) {
    height: 100vh;
  }
  img {
    width: 100%;
    position: relative;
  }
}

.sideshop {
  padding: 0 15px;
  text-align: justify;
  position: relative;
  margin-top: -100vh;
  height: 60vh;
  transition: transform 0.7s;
  float: right;
  overflow-y: scroll;
}
