.cart {
  span.total {
    text-align: right;
  }
  .delete_item {
    cursor: pointer;
    padding: 0 4px;
    font-size: 1.2em;
  }
}

.cursor {
  cursor: pointer;
}

.product {
  .product_desc {
    display: flex;
  }
  .price {
    width: 50%;
  }

  p {
    line-height: 1.7;
  }

  img {
    width: 100%;
  }
  .add_to_cart {
    cursor: pointer;
    text-align: right;
    width: 50%;

    text-decoration: underline;
  }

  margin-bottom: 2px;
}

.cart_item {
  display: flex;
  width: 100%;
  .item_name {
    width: 50%;
  }
  img {
    height: 40px;
  }

  .item_price {
    width: 50%;
    p {
      text-align: right;
    }
  }
  p {
    margin-bottom: 0;
    line-height: 1.2;
  }
}

.cart_total {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  p {
    margin-bottom: 0;
    line-height: 1.2;
    width: 50%;
    text-align: right;
  }
  span {
    width: 50%;
  }
  .total {
    p {
      text-align: right;
    }
  }
  .shipping {
    width: 50%;
    p {
      text-align: right;
    }
  }
}

.divider {
  height: 1px;
  width: 100%;
  border: 0.5px solid #000;
}

.agenda {
  display: flex;
  flex-direction: row;
  align-items: center;
  div {
    text-align: center;
    display: flex;
    width: 33.33333%;
    p {
      margin: auto;
    }
  }
}
