@font-face {
    font-family: 'Prophet';
    src: url('Prophet-Regular.woff2') format('woff2'),
        url('Prophet-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

